*{
    margin:0;
    padding: 0;
    text-align: center;
    background-color: antiquewhite;
}

h1{
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,#computer-score,#draw-matches {
    font-size: 3rem;
}
.msg-container {
    margin-top: 1.5rem;
}

#msg{
    background-color: #09284c;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

#new-game{
    background-color:#081b31;
    color: white;
    margin-top: 2.5rem;
    height: 3rem;
    width: 6rem;
    border-radius: 1rem;


}


